/* style.css */
body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
}

.card-header {
    background-color: #343a40;
    color: white;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #343a40;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
}

footer {
    height: 5%;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#vistaPrevia .row > div {
    border: 1px solid #28a745;
    padding: 10px;
    text-align: center;
}

#vistaPrevia .row > div h3 {
    text-align: center;
    font-weight: bold;
}

#vistaPrevia .row > div p {
    display: block;
    margin: 0 auto;
    text-align: center;/*hola*/

}
